aiocron==1.8
aiofiles==23.1.0
aiogram==3.0.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.5.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
croniter==2.0.2
frozenlist==1.4.0
greenlet==2.0.2
idna==3.4
lxml==4.9.3
magic-filter==1.0.11
Mako==1.3.0
MarkupSafe==2.1.4
multidict==6.0.4
pillow==10.2.0
psycopg2==2.9.7
pydantic==2.3.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
schedule==1.2.1
six==1.16.0
SQLAlchemy==2.0.20
typing==3.7.4.3
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==5.2
urllib3==2.0.4
yarl==1.9.2
